<nav class="relative bg-[#181922] shadow-lg">
  <header class="flex flex-row container mt-auto justify-between items-center max-lg:p-4 lg:p-2">
    <div class="flex flex-row">
      <a href="https://noelware.org" target="_blank">
        <img
          src="https://cdn.floofy.dev/images/trans.png"
          alt="noelware"
          draggable="false"
          class="w-[48px] h-[48px] rounded-lg"
        />
      </a>

      <span class="mt-auto mb-auto ml-3 text-4xl">charted</span>
    </div>
  </header>
</nav>
